$container-width: 1440px;
$base-spacing-1: 12px;
$base-spacing-2: 24px;
$padding-wrap: 1.5em;

$header-height: 65px;
$header-height-mobile: 50px;
$main-height: calc(100vh - $header-height);
$aside-width: 160px;
$aside-out-width: $aside-width + $base-spacing-2;


$default-color: #011E41;
$btn-hover-color: #4D627A;

$default-h2: #E2C29D;
$default-txt: rgba(124, 124, 124, 1);

$default-txt-dark: rgba(0, 0, 0, .87);

$highlight-color: #B87855;




$border-solid-1: 1px solid rgba(0, 0, 0, .12);
$box-shadow-1: 0 3px 4px 0 rgba(0, 0, 0, .2), 0 3px 3px -2px rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
